<h1>Azure AD</h1>
<h3>ID Token</h3>
<table>
    <tbody>
        {{#each messages}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<br>
<a href="/">Go back</a>
